html {
  font-family: -apple-system, Roboto, Ubuntu, Tahoma, sans-serif;
  font-size: 1.25rem;
  padding: 2em;
  display: grid;
  justify-content: center;
}

body {
  width: 100%;
  max-width: 40em;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000D;
    color: #EEE;
  }

  a {
    color: #669df5;
  }

  a:visited {
    color: #af73d5;
  }
}

header {
  text-align: center;
}

td {
  padding: 0.5em;
  vertical-align: top;
}

table td:first-child {
  text-align: right;
}
